
body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    color: #fff;
   background: #000;
 
}

:root{
    --main-posX: 10%;
    --main-posY: 10%;
}



.container{
    
    
}

.primer{
    height: 100vh;
    width: 100%;
        margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
     overflow: hidden;
      background:  url(fon_2.jpg) no-repeat;
    background-size: 205%;
 /*    background-position: bottom; */
    position: relative;
    transition: all 15s ease;
    box-sizing: border-box;
    
   
 

}
.primer:hover{
   /* background-size: 100%;  */
 background-position-x: var(--main-posX);
 background-position-y: var(--main-posY);
 

}

.primer h1{
    text-align: center;
    transition: all 0.6s ease;
    opacity: 1;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    height: auto;
    transform: scaleY(1);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   transform-origin: bottom;
    /* transition-delay: 0.1s; */
    z-index: 2;

}

.primer .showPrimer h3,p,ul, li{
    padding: 0;
    margin: 0;
}
.primer .showPrimer h3{
    font-size: 26px;
}
.primer .showPrimer{
 
    height: 100%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    transition: all 0.6s  cubic-bezier(0.175, 0.885, 0.32, 1);
    z-index: 0;
    opacity: 0;
    box-sizing: border-box;
  transform: scaleY(10) ;
     background: rgba(0, 0, 0, 0.418);
     transform-origin: center;


}
.primer .showPrimer a{
    color: #eaeaea;
}
.primer:hover .showPrimer{
    left: 0;
    opacity: 1;
    z-index: 6;
    transform: scaleY(1);
   
   
    
}
.primer:hover h1{
   opacity: 0;
    z-index: 1;
    transform: scaleY(0);

}
.primer .showPrimer a:hover{
    color: rgb(238, 113, 113);
}