@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face{
    font-family: 'Muller Narrow';
    src: url('fonts/MullerNarrow-ExtraBold.ttf')
}

@media (max-width: 950px){
    body .primer .sect1_cont{
        width: 90%;
    }
}

@media (max-width: 700px) {
  body .container .Bg {
    background-size: cover;
    background-position: center;
    transition: all 0s ease;
    height: 110vh;
   
  }
  body .primer{
      height: 110vh;
  }
  body .primer .sect1_cont{
      width: 100%;
 
  }

  body .sect1_cont h1{
      font-size: 54px;
      min-width: 360px;
      margin: 80px 0 0;
      text-align: center;
  }
  body .buttomChange{
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-width: 360px;
  }
  body .buttomChange h3{
    font-size: 18px;
  }
  
  body .myStory, body .myWorks{
      margin-bottom: 30px;
      width: 90%;
      height: 80px;
      
  }
 body .buttomChange .myStory .linkMyStory{
     font-size: 16px;
 }

}


  @media (max-width: 500px){
    body .primer .sect1_cont h1{
        font-size: 44px;
       
        
    }
  }
  @media (max-width: 400px){
    body .primer .sect1_cont h1{
        margin-top: 40px;
      
    }

  }




body {
  padding: 0;
  margin: 0;
  font-family: "Muller Narrow";
  color: #fff;
  background: #000;
}

:root {
  --main-posX: 10%;
  --main-posY: 10%;
  --colorBorder: rgba(255, 255, 255, 0.815);
}

.container {
  min-width: 360px;
    z-index: 9;
    width: 100%;
    position: absolute;
    
}

.container2{
    z-index: 11;
    position: absolute;

background-size: contain;
    height: 100vh;
    width: 100%;
}

.container2 h1{
    padding: 0;
    margin: 0;
  
}


.container .Bg {
 position: absolute;
  height: 100vh;
  width: 100%;
  background: url(image/mountainsB.jpg) no-repeat;
  background-size: 150%;
  background-position: center;
   transition: all 10s cubic-bezier(0.2, 0.2, 0.2, 1);
  box-sizing: border-box;
  background-position-x: var(--main-posX);
  background-position-y: var(--main-posY);
  z-index: 9;
  filter: brightness(0.6);
  top:0
}
.primer{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
  top:0;
}


.primer .sect1_cont h3,p {
  padding: 0;
  margin: 0;
}

.primer .sect1_cont {
  height: 80%;
  width: 70%;
  margin: 0 auto;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow:column nowrap;
}

.sect1_cont h1{
    font-size: 70px;
    font-weight: 600;
    width: 90%;
    min-width: 650px;
    margin: 20px 0 0;
    padding: 0;
   
}

.buttomChange{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 80px  auto 0;
    min-width: 650px;
    height: 400px;
}

 .myStory,.myWorks{
    position: relative;
    width: 300px;
    height: 100px;
    font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(66, 66, 66, 0.685);
   
      cursor: pointer;
      overflow: hidden;
      font-family: "Roboto";

}

.myStory h3, .myWorks h3{
    position: absolute;
   
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: all 0.4s cubic-bezier(0.875, 0.885, 0.32, 1)
}

.myStory:hover h3{
    transform: translateX(300%)
}

.buttomChange .myStory .linkMyStory, .buttomChange .myWorks .linkMyWorks{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
     text-decoration: none;
   z-index: 2;
       border-top: 1px solid transparent; 
   transition: all 0.3s ease;
    font-weight: 600;
   font-size: 18px;
   width: 100%;
   height: 100%;
   background: rgba(32, 32, 32, 0.733);
}

.myStory:hover .linkMyStory{
    transform: translateX(0%);
    color: #fff;
}

.myStory .linkMyStory{
   transform: translateX(-300%);
}


.myStory .linkMyStory:before, .myStory .linkMyStory:after, .myStory .linkMyStory span::before, .myStory .linkMyStory span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    background: var(--colorBorder);
    transition: all 0.3s ease;
    transition-delay: 0.4s;
       box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.274);
  
}
.myStory .linkMyStory:before{
    bottom: 0;
    left: 0;
  
}
.myStory:hover .linkMyStory:before{
    width: 100%;
}

 .myStory .linkMyStory:after{
     top:0;
     right: 0;
  }

.myStory:hover .linkMyStory:after{
    width: 100%;
} 

.myStory .linkMyStory span{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.myStory .linkMyStory span::before{
   width: 5px;
   height: 0;
   right: 0;
   bottom: 0;
   transition-delay: 0s;
}

.myStory .linkMyStory:hover span::before{
    height: 100%;
}

.myStory .linkMyStory span::after{
    width: 5px;
    height: 0;
    left: 0;
    top:0;
    transition-delay: 0s;
   }

.myStory .linkMyStory:hover span::after{
    height: 100%;
}


/*АНИМАЦИЯ МОИХ РАБОТ*/
.myWorks:hover h3{
    transform: translateX(-300%)
}

.myWorks:hover .linkMyWorks{
    transform: translateX(0%);
    color: #fff;
}

.myWorks .linkMyWorks{
   transform: translateX(300%);
}


.myWorks .linkMyWorks:before, .myWorks .linkMyWorks:after, .myWorks .linkMyWorks span::before, .myWorks .linkMyWorks span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    background: var(--colorBorder);
    transition: all 0.3s ease;
    transition-delay: 0.4s;
    box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.274);
  
}
.myWorks .linkMyWorks:before{
    bottom: 0;
    left: 0;
    
}
.myWorks:hover .linkMyWorks:before{
    width: 100%;
}

 .myWorks .linkMyWorks:after{
     top:0;
     right: 0;
  }

.myWorks:hover .linkMyWorks:after{
    width: 100%;
} 

.myWorks .linkMyWorks span{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.myWorks .linkMyWorks span::before{
   width: 5px;
   height: 0;
   right: 0;
   bottom: 0;
   transition-delay: 0s;
}

.myWorks .linkMyWorks:hover span::before{
    height: 100%;
}

.myWorks .linkMyWorks span::after{
    width: 5px;
    height: 0;
    left: 0;
    top:0;
    transition-delay: 0s;
   }

.myWorks .linkMyWorks:hover span::after{
    height: 100%;
}












/* ПРЕДЛОАДЕР */

.load {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  transition: all 0.8s ease;
  background: #000;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-around;
  animation: loadB 0.8s ease 0.1s infinite alternate-reverse;
  animation-fill-mode: forwards;
  transform-origin: center;
  
}

.load h1{
    font-size: 44px;
    font-weight: 100;
    text-align: center;
   width: 50%;
    padding: 20px;
    border-radius: 2px;
    position: relative;
    color: rgb(219, 219, 219);
   
               

}
.load h1::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    box-shadow: 0px -8px 5px 1px #fff ;
}
.load h1 span{
 font-size: 50px;
 color: #fff;
}

.closeLoad {
  z-index: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}
.kv {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.342);
  z-index: 101;
  background: #fff;
  transform: translateX(0px) rotate(0deg);
  animation: kvAfter 1s cubic-bezier(1, 1, 1, 1) 0s infinite alternate;
  animation-fill-mode: backwards;
  transform-origin: center;
}
.kvClose {
  opacity: 0;
  z-index: 0;
}

@keyframes kvAfter {
  0% {
    transform: translate(-100px) rotate(0deg);
  }

  25% {
    transform: translate(-50px) rotate(90deg);
  }
  50% {
    transform: translate(0px) rotate(180deg);
  }
  75% {
    transform: translate(50px) rotate(270deg);
  }

  100% {
    transform: translate(100px) rotate(360deg);
  }
}
