
@media(max-width: 800px){
    body .primer{
        background-size: cover;
    }
    body .primer h1, body .primer .showPrimer{
        transition: all 0.4s;
    }
    body .showCont{
        width: 95%;
      
    }
    body .showPrimer .showCont h3{
        font-size: 30px;
    }
    body .showPrimer p{
        font-size: 44px;
    }

}

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    color: #fff;
   background: #000;
 
}

:root{
    --main-posX: 10%;
    --main-posY: 10%;
}



.container{
    min-width: 360px
    
}

.primer{
    height: 100vh;
    width: 100%;
        margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
     overflow: hidden;
      background:  url(fon_2.jpg) no-repeat;
    background-size: 110%;
    background-position: center; 
    position: relative;
    transition: all 5s cubic-bezier(0.275, 0.82, 0.0165, 1);
    box-sizing: border-box;
    
   
 

}
.primer:hover{
   /* background-size: 100%;  */
 background-position-x: var(--main-posX);
 background-position-y: var(--main-posY);
 

}

.primer h1{
    text-align: center;
    transition: all 0.6s ease;
    opacity: 1;
    position: absolute;
    padding: 0;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    height: auto;
    transform: scaleY(1);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   transform-origin: bottom;
    /* transition-delay: 0.1s; */
    z-index: 2;
    font-size: 80px;
    font-weight: 100;

}

.primer .showPrimer h3,p,ul, li{
    padding: 0;
    margin: 0;
}
.primer .showPrimer h3{
    font-size: 26px;
  
}
.primer .showPrimer{
 
    height: 100%;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    transition: all 0.6s  cubic-bezier(0.175, 0.885, 0.32, 1);
    z-index: 0;
    opacity: 0;
    box-sizing: border-box;
  transform: scaleY(10) ;
     background: rgba(0, 0, 0, 0.418);
     transform-origin: bottom;
     display: flex;
     align-items: center


}
.showCont{
width: 70%;
height: 300px;
padding: 0;
margin: 0 auto;

}
.showCont p{
    font-weight: 600;
    font-size: 54px;
}
.showCont a{
    font-weight: 100;
    font-size: 40px;
}

.primer .showPrimer a{
    color: #eaeaea;
 text-decoration: none;
}

.primer:hover .showPrimer{
    left: 0;
    opacity: 1;
    z-index: 6;
    transform: scaleY(1);
   
   
    
}
.primer:hover h1{
   opacity: 0;
    z-index: 1;
    transform: scaleY(0);

}
.primer .showPrimer a:hover{
    color: rgb(238, 113, 113);
}

.load{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
     transition: all 0.8s ease;
     background: #000;
    display: flex;
    align-items: center;
    animation: loadB 0.8s ease 0.1s infinite alternate-reverse;
    animation-fill-mode: forwards;
    transform-origin: center;
}

.closeLoad{
    z-index: 0;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
}
.kv{
    width: 40px;
    height: 40px;
    position: relative;
      margin: 0 auto;
     box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.342);
    z-index: 101;
    background: #fff;
     transform: translateX(0px) rotate(0deg); 
    animation: kvAfter 1s cubic-bezier(1,1,1,1) 0s infinite alternate;
    animation-fill-mode: backwards;
    transform-origin: center;

    
}
.kvClose{
    opacity: 0;
    z-index: 0;
}
 
   

@keyframes kvAfter{
    0%{
       transform: translate(-100px) rotate(0deg)  ;
                
    }
  
    25%{
        transform: translate(-50px) rotate(90deg)  ;
           
    }
    50%{
        transform: translate(0px) rotate(180deg)  ;
    }
    75%{
        transform: translate(50px) rotate(270deg)  ;
    }
  
    100%{
        transform:  translate(100px)  rotate(360deg) ;
          }
}

